BasedOnStyle: LLVM

AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AlignTrailingComments: Never
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BracedInitializerIndentWidth: 4
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
ColumnLimit: 100
ContinuationIndentWidth: 8
IndentWidth: 4
InsertBraces: true
TabWidth: 4
