BasedOnStyle: LLVM

AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
ColumnLimit: 100
ContinuationIndentWidth: 8
IndentWidth: 4
InsertBraces: true
TabWidth: 4
