AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AllowShortFunctionsOnASingleLine: Empty
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
ContinuationIndentWidth: 8
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertBraces: true
